<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      <img
        src="assets/logo.png"
        alt="Logo Cadmo"
        style="height: 45px; margin-top: 5px"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Chi Siamo - ITS Cadmo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        ITS Cadmo è un Istituto Tecnico Superiore che offre formazione gratuita
        in ambito tecnologico, per garantire l'accesso diretto al mondo del
        lavoro.
      </p>
      <p>
        <strong>Missione:</strong> Formare professionisti altamente qualificati
        in Cyber Security, Software Development, e IoT, in collaborazione con
        aziende leader nel settore.
      </p>
      <p>
        <strong>Il nostro valore aggiunto:</strong> Corsi pratici, stage in
        azienda e accesso diretto al mercato del lavoro con supporto per la
        ricerca di impiego.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>I Numeri del CADMO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <h3>Ore in Azienda</h3>
          <p>40%</p>
          <small
            >Di stage rispetto alle ore totali, dentro una delle 50 aziende che
            cercano talenti nel Cadmo</small
          >
        </ion-col>
        <ion-col>
          <h3>Docenti</h3>
          <p>60%</p>
          <small
            >Che provengono direttamente dalle aziende che poi assumono i nostri
            ragazzi</small
          >
        </ion-col>
        <ion-col>
          <h3>Assunti</h3>
          <p>87%</p>
          <small>In azienda entro 6 mesi dal diploma tra i diplomati ITS</small>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Le aziende che ci hanno scelto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        E che continuano a sceglierci per la formazione delle loro future
        risorse
      </p>

      
      <swiper-container
        slides-per-view="3"
        speed="400"
        loop="true"
        navigation="false"
        pagination="true"
        autoplay="true"
        css-mode="true"
      >
        <swiper-slide>
          <ion-img src="assets/aziende/2.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/3.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/4.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/5.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/6.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/7.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/8.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/9.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/10.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/11.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/12.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/13.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/14.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/15.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/16.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/17.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/18.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/19.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/20.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/21.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/22.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/23.png" alt="azienda"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/aziende/24.jpeg" alt="azienda"></ion-img>
        </swiper-slide>
      </swiper-container>
    </ion-card-content>
  </ion-card>
</ion-content>
