<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      <img src="assets/logo.png" alt="Logo Cadmo" style="height: 45px; margin-top: 5px;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Software Developer</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-flex">
      <div class="card-text">
        <strong>Competenze del corso:</strong>
        <ul>
          <li>Inglese</li>
          <li>Logica Matematica</li>
          <li>Informatica di base (certificazione)</li>
          <li>Sicurezza sul lavoro</li>
          <li>Diritto informatico</li>
          <li>Basi di dati e linguaggio SQL</li>
          <li>Basi Della Programmazione C#</li>
          <li>Programmazione C# Avanzata</li>
          <li>Programmazione – Java Standard</li>
          <li>Programmazione – Java Enterprise</li>
          <li>Architetture a Microservizi in Java</li>
          <li>Progettazione del Software (UML)</li>
          <li>User Experience e User Interface</li>
          <li>Basi di dati non relazionali (NoSQL)</li>
          <li>Quality Assurance</li>
          <li>Strategie di test automation</li>
          <li>Big Data & Cloud</li>
          <li>Artificial Intelligence</li>
          <li>Fondamenti di Cybersecurity</li>
          <li>Metodologie di Project Management</li>
        </ul>
        <p>Il Tecnico superiore Software Developer è una figura professionale specializzata nello sviluppo, nel deploy e nella gestione di applicazioni software...</p>
      </div>
      <img src="assets/gif/2.webp" alt="Software Developer" class="card-image" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cyber Security</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-flex">
      <div class="card-text">
        <strong>Competenze del corso:</strong>
        <ul>
          <li>Inglese</li>
          <li>Matematica e Statistica</li>
          <li>Informatica di base (certificazione)</li>
          <li>Sicurezza sul lavoro</li>
          <li>Diritto informatico</li>
          <li>Reti e networking</li>
          <li>Fondamenti di Sicurezza dei sistemi e delle reti</li>
          <li>Sistemi operativi e virtualizzazione</li>
          <li>Programmazione Python</li>
          <li>Fondamenti e tecniche DEVOPS</li>
          <li>Cloud security</li>
          <li>Elementi di crittografia</li>
          <li>Sicurezza nei sistemi web cloud e mobile</li>
          <li>Industry 4.0 e sicurezza</li>
          <li>Sicurezza per i sistemi industriali e SCADA</li>
          <li>Ethical Hacking e penetration tests</li>
          <li>Digital Forensic Analysis</li>
          <li>Cyberthreat Intelligence</li>
          <li>Artificial Intelligence</li>
        </ul>
        <p>Il Tecnico superiore Specialista in Cyber Security è una figura professionale che combina le competenze dell’amministratore di sistemi hardware/software...</p>
      </div>
      <img src="assets/gif/1.webp" alt="Cyber Security" class="card-image" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Programmatore 4.0</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-flex">
      <div class="card-text">
        <strong>Competenze del corso:</strong>
        <ul>
          <li>Inglese</li>
          <li>Logica Matematica</li>
          <li>Informatica di base (certificazione)</li>
          <li>Sicurezza sul lavoro</li>
          <li>Diritto informatico</li>
          <li>Basi di dati e linguaggio SQL</li>
          <li>Basi Della Programmazione C#</li>
          <li>Programmazione C# Avanzata</li>
          <li>Programmazione – Java Standard</li>
          <li>Programmazione – Java Enterprise</li>
          <li>Architetture a Microservizi in Java</li>
          <li>Progettazione del Software (UML)</li>
          <li>User Experience e User Interface</li>
          <li>Basi di dati non relazionali (NoSQL)</li>
          <li>Quality Assurance</li>
          <li>Strategie di test automation</li>
          <li>Big Data & Cloud</li>
          <li>Artificial Intelligence</li>
          <li>Fondamenti di Cybersecurity</li>
          <li>Metodologie di Project Management</li>
        </ul>
        <p>Il Programmatore 4.0 si occupa di sviluppare software con una solida base nell'automazione industriale, nell'IoT e nella robotica collaborativa...</p>
      </div>
      <img src="assets/gif/3.webp" alt="Programmatore 4.0" class="card-image" />
    </ion-card-content>
  </ion-card>
</ion-content>