<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      <img src="assets/logo.png" alt="Logo Cadmo" style="height: 45px; margin-top: 5px;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <div>
    <ion-img src="assets/cadmoman.png" alt="Copertina" class="hero-img"></ion-img>
  </div>

  <div class="center-btn">
    <ion-button color="tertiary" shape="round" (click)="navigateToCorsi()">
      Scopri i Corsi
    </ion-button>
  </div>

  <div class="center-btn">
    <ion-button color="tertiary" shape="round" href="https://forms.gle/vbRLt1Bzpp2Xfrkb9" target="_blank">
      Partecipa al Test
    </ion-button>
  </div>

  <div style="text-align: center; margin-top: 16px;">
    e scopri se il corso fa per te
  </div>
  
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title>Cyber security expert</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Protegge sistemi, reti e dati aziendali da minacce e attacchi informatici, implementando misure di sicurezza innovative.
    </ion-card-content>
    <div class="center-btn">
      <ion-button color="primary" shape="round" (click)="navigateToCorsi()">
        Scopri di più
      </ion-button>
    </div>
    <img src="assets/gif/1.webp" alt="Cyber Security Expert" class="card-image" />
  </ion-card>
  
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title>Software Developer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Anche detto Full-stack developer, è lo specialista nella creazione di soluzioni digitali ai problemi delle imprese e degli utenti.
    </ion-card-content>
    <div class="center-btn">
      <ion-button color="primary" shape="round" (click)="navigateToCorsi()">
        Scopri di più
      </ion-button>
    </div>
    <img src="assets/gif/2.webp" alt="Software Developer" class="card-image" />
  </ion-card>
  
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title>Programmatore 4.0</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Una figura super-specializzata esperta nell’integrare soluzioni digitali con i processi produttivi fisici delle grandi aziende.
    </ion-card-content>
    <div class="center-btn">
      <ion-button color="primary" shape="round" (click)="navigateToCorsi()">
        Scopri di più
      </ion-button>
    </div>
    <img src="assets/gif/3.webp" alt="Programmatore 4.0" class="card-image" />
  </ion-card>
  
  <h2 class="timeline-title">
    <span class="text-primary">Come</span>
    <span class="text-tertiary"> funziona </span>
    <span class="text-primary">?</span>
  </h2>  
  <div class="vertical-timeline">
    <div class="timeline-item">
      <div class="timeline-dot">📄</div>
      <div class="timeline-content">
        <h3>Aprile 2025 - Iscrizione</h3>
        <p>Ti basta compilare il form.<br>
        La compilazione serve solo a fini valutativi e non è vincolante (puoi iscriverti solo fino al 30 aprile).</p>
      </div>
    </div>
  
    <div class="timeline-item">
      <div class="timeline-dot">📚</div>
      <div class="timeline-content">
        <h3>Aprile 2025 - Inizio lezioni</h3>
        <p>Inizi subito ad imparare le capacità più richieste dalle aziende del settore che hai scelto.</p>
      </div>
    </div>
  
    <div class="timeline-item">
      <div class="timeline-dot">🏢</div>
      <div class="timeline-content">
        <h3>Ottobre 2025 - Entri in azienda</h3>
        <p>Stage formativo direttamente in azienda, per imparare sul campo e aumentare le possibilità di essere assuntə.</p>
      </div>
    </div>
  
    <div class="timeline-item">
      <div class="timeline-dot">🎯</div>
      <div class="timeline-content">
        <h3>Febbraio 2026 - Colloqui di lavoro</h3>
        <p>Le aziende vengono da te. Potrai sostenere colloqui direttamente nelle nostre sedi.</p>
      </div>
    </div>
  
    <div class="timeline-end">
      🎓 <strong>Finito il percorso</strong>, l’87% degli studenti ITS trova lavoro entro 6 mesi nel settore scelto. Gli altri diventano professionisti qualificati.
    </div>
  </div>
  
  
  <h2 class="faq-title">Domande Frequenti (FAQ)</h2>
<ion-accordion-group expand="inset" class="faq-group">
  <ion-accordion value="domanda1">
    <ion-item slot="header">
      <ion-label>Quanto costa il corso?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Il corso è totalmente gratuito per te, se sarai selezionatə avrai una borsa di studio che coprirà tutto il costo del biennio.
    </div>
  </ion-accordion>

  <ion-accordion value="domanda2">
    <ion-item slot="header">
      <ion-label>Chi può iscriversi?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Diplomati e laureati di tutte le età.
    </div>
  </ion-accordion>

  <ion-accordion value="domanda3">
    <ion-item slot="header">
      <ion-label>Come funziona l'iscrizione?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Compila il modulo d’iscrizione. I candidati selezionati svolgeranno un test d’ingresso per entrare in graduatoria.
    </div>
  </ion-accordion>

  <ion-accordion value="domanda4">
    <ion-item slot="header">
      <ion-label>La frequenza è obbligatoria?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Sì, è obbligatoria per almeno l’80% delle ore, comprensive di lezioni e stage.
    </div>
  </ion-accordion>

  <ion-accordion value="domanda5">
    <ion-item slot="header">
      <ion-label>Che valore ha il titolo rilasciato?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      È un Diploma Superiore di Quinto Livello EQF, valido per concorsi pubblici e nel mondo del lavoro.
    </div>
  </ion-accordion>

  <ion-accordion value="domanda6">
    <ion-item slot="header">
      <ion-label>I corsi danno crediti universitari?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Sì, possono valere CFU a seconda dei regolamenti universitari.
    </div>
  </ion-accordion>

  <ion-accordion value="domanda7">
    <ion-item slot="header">
      <ion-label>Se abito lontano come frequento?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Sono previste borse di studio per soggiornare gratuitamente, chiedi in segreteria.
    </div>
  </ion-accordion>
</ion-accordion-group>

<div class="faq-title">La tua domanda non è nella lista? Scrivila qui</div>

<ion-card class="info-card">
  <ion-card-header>
    <ion-card-title>Contattaci</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form>
      <ion-item>
        <ion-label position="floating">Nome e Cognome</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Numero di telefono</ion-label>
        <ion-input type="tel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Scrivi qui la tua domanda</ion-label>
        <ion-textarea required></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-checkbox required></ion-checkbox> Ho letto e accetto la Privacy policy
        </ion-label>
      </ion-item>
      <div class="center-btn">
        <ion-button type="submit" color="tertiary" shape="round">Invia</ion-button>
      </div>
    </form>
  </ion-card-content>
</ion-card>

</ion-content>
