<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      <img src="assets/logo.png" alt="Logo Cadmo" style="height: 45px; margin-top: 5px;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="card-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="form-container">
          <h2 *ngIf="authSegment === 'login'">Accedi</h2>
          <h2 *ngIf="authSegment === 'register'">Registrati</h2>

          <ion-segment [(ngModel)]="authSegment">
            <ion-segment-button value="login">
              <ion-label>Accedi</ion-label>
            </ion-segment-button>
            <ion-segment-button value="register">
              <ion-label>Registrati</ion-label>
            </ion-segment-button>
          </ion-segment>

          <div *ngIf="authSegment === 'login'">
            <!-- Form Login -->
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>

            <ion-button expand="block" (click)="navigateToDashboard()">Accedi</ion-button>
            <p style="text-align: center; font-size: 12px; color: gray; margin-top: 8px;">
              Clicca su Accedi per entrare nella dashboard
            </p>
          </div>

          <div *ngIf="authSegment === 'register'">
            <!-- Form Registrazione -->
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input type="text" [(ngModel)]="nome"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>

            <ion-checkbox [(ngModel)]="acceptTerms">
              <span class="terms-text">Accetto i termini e le condizioni</span>
            </ion-checkbox>
            
            <ion-button expand="block" (click)="navigateToDashboard()">Registrati</ion-button>
            <p style="text-align: center; font-size: 12px; color: gray; margin-top: 8px;">
              Clicca su Registrati per entrare nella dashboard
            </p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
