#card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  padding: 0 16px; /* Aggiungi padding per evitare che il contenuto tocchi i bordi su schermi piccoli */
}

#card-content {
  width: 100%;
  max-width: 500px;
}

ion-card {
  background-color: #f9f9f9;
  padding: 20px;  /* Ridotto il padding per evitare troppo spazio */
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

ion-card-header {
  background-color: #007bff;
  padding: 12px 24px;
  border-radius: 12px 12px 0 0;
}

ion-card-title {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

ion-card-content {
  color: #333;
  font-size: 1rem;
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 24px;
  margin-top: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #007bff;
}

ion-item {
  margin-bottom: 16px;
}

ion-button {
  margin-top: 24px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
}

ion-segment-button {
  color: #007bff;
}

ion-segment-button:hover {
  background-color: #e6f3ff;
}

ion-checkbox {
  margin-top: 12px;
}

#login-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #032A53;
  padding: 12px 24px;
  font-size: 26px;
  border-radius: 12px;
}

@media (max-width: 600px) {
  /* Adatta la larghezza su schermi più piccoli */
  #card-wrapper {
    margin-top: 20px;
    padding: 0 10px;
  }

  ion-card {
    padding: 15px;
  }

  .form-container {
    padding: 16px;
  }

  ion-card-title {
    font-size: 1.4rem;  /* Ridotto la dimensione del titolo su schermi piccoli */
  }

  ion-button {
    margin-top: 16px;
    font-size: 14px;  /* Ridotto il font per i bottoni su schermi piccoli */
  }

  ion-segment-button {
    font-size: 12px;  /* Ridotto il font per i segmenti su schermi piccoli */
  }
}

.terms-text {
  font-size: 0.8rem; /* Riduce la dimensione del testo */
  color: #888; /* Colore grigio chiaro */
  margin-left: 5px; /* Distanza tra il checkbox e il testo */
}
