<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      <img src="assets/logo.png" alt="Logo Cadmo" style="height: 45px; margin-top: 5px;" />
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Contatti</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Contattaci per informazioni o supporto</h2>
      <p><strong>Email:</strong> <a href="mailto:info&#64;cadmo.it">info&#64;cadmo.it</a></p>
      <p><strong>Telefono:</strong> +39 0967819832</p>
      <p><strong>Indirizzo:</strong> Via Largo Cardillo, 88068 Soverato (CZ)</p>
    </ion-card-content>
  </ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>Dove siamo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114.2282719406953!2d16.529975676462854!3d38.68960045893756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x131553024e75c881%3A0x4430546fc395fd8c!2sI.T.S.%20Cadmo!5e0!3m2!1sit!2sit!4v1744998179411!5m2!1sit!2sit"
      width="100%" height="300" style="border:0;" allowfullscreen=""
      loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </ion-card-content>
</ion-card>
